<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
    <h1>마이페이지</h1>

    <form th:action="@{|/member/mypage/${member.username}/update|}" method="post">
        <table>
            <tr>
                <th>회원 번호</th>
                <td th:text="${member.id}"></td>
            </tr>
            <tr>
                <th>아이디</th>
                <td th:text="${member.username}"></td>
            </tr>
            <tr>
                <th>비밀번호</th>
                <td>
                    <input type="password" id="password" name="password">
                </td>
            </tr>
            <tr>
                <th>비밀번호 확인</th>
                <td>
                    <input type="password" id="passwordCnf" name="passwordCnf">
                </td>
            </tr>
            <tr>
                <th>이름</th>
                <td>
                    <input type="text" id="name" name="name" th:value="${member.name}">
                </td>
            </tr>
            <tr>
                <th>닉네임</th>
                <td>
                    <input type="text" id="nickname" name="nickname" th:value="${member.nickname}">
                </td>
            </tr>
            <tr>
                <th>이메일</th>
                <td>
                    <input type="text" id="email" name="email" th:value="${member.email}">
                </td>
            </tr>
            <tr>
                <th>기본 주소</th>
                <td>
                    <input type="text" id="addr1" name="addr1" th:value="${member.addr1}">
                </td>
            </tr>
            <tr>
                <th>상세 주소</th>
                <td>
                    <input type="text" id="addr2" name="addr2" th:value="${member.addr2}">
                </td>
            </tr>
        </table>
        <button>수정하기</button>
        <button>취소</button>
    </form>
</center>
</body>
</html>